html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body{
    background: #ffffff;
    background-image: url('img/bg.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1200px;
    height: 100%;
    overflow:hidden;
    margin: 0 auto;
    padding: 50px 0;
}

#login-content{
    text-align: center;
}

.left-navbar{
    width: 22.25%;
    position: relative;
    float: left;
}

#profile-data, #guest-welcome{
    width: 35%;
    position: relative;
    float: left;
}

#myTasks, #list-my-schedules, #list-public-schedules{
    position: relative;
    float: left;
    background: rgba(95,158,160, 0.3);
    width: 70%;
    margin-top: 2%;
}

#myTasks h2, #list-my-schedules h2, #list-public-schedules h2, #modify-schedule-div h2, #modify-task h2{
    background: black;
    font-size: 1em;
}

#create-task-button, #create-schedule-button, #logout-button{
    width: 35%;
}

.right-navbar{
    width: 60%;
    position: relative;
    float: right;
}

#register-content{
    text-align: center;
}

#create-new-schedule, #create-new-task, #modify-schedule, #modify-task{
    text-align: left;
    float: left;
    background:rgba(95,158,160, 0.3);
    width: 70%;
    padding-left: 2%;
}

#schedule{
    width: 60%;
    position: relative;
    float: right;
}

table{
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    color: black;
}

tr{
    width: 100%;
}

td{
    text-align: center;
    height: 20px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

td:hover{
    background-color: lightblue;
}

.line-highlight:hover ~ td{
    background-color: #5d8cdd;
}

.line-highlight{
    width: 50px;
}

h1{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 10px;
}

p{

    padding: 5px 0;
}

input[type="text"], input[type="password"], select{
    background: rgba(255, 255, 255, 0.75);
    margin: 5px 0;
    color: #222222;
    font-family: inherit;
}

button{
    background-color: black;
    color: white;
    margin: 20px auto;
    font-size: 12px;
    padding: 5px 5px;
    font-family: inherit;
}

.button-wrapper {
    display: inline;
}

.button-wrapper button {
    font-size: 10px;
    margin: 0;
    margin-left: 2%;
    background-color: transparent;
    background-size: 15px 15px;
    border: none;
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    vertical-align: text-bottom;
    float: right;
}

.button-wrapper button:hover {
    filter: invert(100%);
}

#display-create-task{
    padding-bottom: 30px;
}

#create-task{
    padding-bottom: 30px;
}


#add-task{
    padding-bottom: 30px;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

li{
    padding: 5px 0 5px 10px;
}

li a:hover{
    cursor: pointer;
    color: #5d8cdd;
}


	
















